div.preview {
 text-align:center;
 color:green;
 margin-bottom:-1.0em;
}

div.messages_menu span {
 margin-right:1em;
 border:1px solid #c0c080;
 background-color:#fffff0;
 font-size:1.2em;
}

div.messages_menu input {
 font:inherit;
 height:1.2em;
}

div.messages_menu input[type=submit] {
 height:1.5em;
}

 div.messages_menu {
  text-align:right;
 }
 
 div.message {
  margin-top:1em;
 }
 
 div.message span.from, div.message_menu span {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #c0c080;
  position:relative;
 }
 
 div.message span.from {
  border-bottom-width: 0;
  background-color: #fffffc;
  left:2em;
  top:1px;
 }
 
 div.message_menu span {
  background-color: #fffff0;
  right:2em;
 }
 
 div.message_menu {
  text-align:right;
 }
 
 div.message_menu a:hover {
  text-decoration:none;
 }
 
 div.message_menu span:hover {
  border: 1px solid #f08080;
  border-top: 1px solid #fffff0;
 }
 
 div.message div.to-list {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #c0c080;
  border-bottom-width:0;
  background-color: #fffff8;
 }
 
 div.message div.text {
  padding: 0.5em;
  border: 1px solid #c0c080;
  border-top: 1px dashed #c0c080;
  background-color: #fffff0;
 }
