.dateien{
 border-width:0px;
}
td.dateien{
 background-color:#ffffff;
}
th#desc{
 background-color:#e0e0e0;
 color:#002040;
 font-weight:normal;
}
td.dateien#neu{
	 background-color:#e0e0e0;
 color:#002040;
 font-weight:normal;
}
a.blind:link, a.blind::visited{
	color: Black;
}