td.spacer0 {
 width:12px;
 empty-cells:show;
 border-width:0px;
 border-right-width:1px;
 border-style:solid;
 background-color:#f0fff0;
}
td.spacer1 {
 width:12px;
 empty-cells:show;
 border-width:0px;
 border-right-width:1px;
 border-style:solid;
 background-color:#f0f0ff;
}
table.topics {
 width:100%;
 border:0px;
 border-spacing:0px;
}
table.topics td {
 margin:0px;
 padding:0px;
 padding-left:3px;
 padding-right:3px;
 height:17px;
 white-space:nowrap;
}
img.spacer {
 margin-bottom:-6px;
 position:relative;
 top:-1px;
}
