body {
 margin:0;
 padding:0;
 font: x-small sans-serif;
 background-color:#f0f0f0;
 color:black;
}

div#global {
 font-size:127%;
 width:100%;
 background-color:#f0f0f8;
}

div#navigation-col {
 float: left;
 width: 13em;
}

div#usermenu-col {
 float: right;
 width: 13.5em;
}

div#content-col {
 margin-left:13em;
 margin-right:13.5em;
 min-width: 10em;
}

div.maincol {
 margin-bottom:1em;
}

div.head {
 margin:0;
 height:1.5em;
 text-align:center;
}

div#head-date {
 text-align: right;
 padding: 0 1em 0 0;
}

div#content {
 margin: 0 0.5em 0em 0.5em;
 padding:1em;
 background-color:#ffffff;
 border: 1px solid #b0b0ff;
}

div#navigation {
 width:13.0em;
 background-color:#ffffff;
 border: 1px solid #b0b0ff;
 border-left: 0px;
}


div#usermenu {
 margin: 0em 0em 1em 0em;
 width:13em;
}

div#usermenu-col div {
 margin: 0 0 0.2em 0;
 padding:0.3em;
 padding-left:1em;
 background-color:#ffffff;
 border: 1px solid #b0b0ff;
 border-collapse: collapse;
 border-right: 0px;
}

div#siteinfo {
 clear:both;
 padding: 0 1em 0 1em;
 background-color:#f8f8ff;
 color:#707080;
 border-top: 1px solid #b0b0ff;
 border-bottom: 1px solid #b0b0ff;
}

a {
 text-decoration:none;
 color:#0000a0;
 background: none;
}

a:visited {
 color:#0000a0;
}

a:hover {
 text-decoration:underline;
}

a:active {
 color:#ff0000;
}
a[name]:hover{
 color:#002040;
 position:relative; left:0px; top:0px;
}

img {
 border-width:0;
}

span.nobr {
 white-space:nowrap;
}

h1#headline0 {
 margin: 0;
 font-size: 1.5em;
 text-align: center;
 background-color: transparent;
 border-width:0;
}

h1 {
 font-size: large;
 text-align: center;
 background-color: #e0f0ff;
 border: 1px solid #90c0e0;
 
}

h2 {
 font-size: medium;
 text-align: center;
 background:#c0f0ff;
 border: 1px solid #90d0e0;
}

h3 {
 font-size:small;
 color:#008000;
}

img.intext {
 margin-top:-4px;
 position:relative;
 top:4px;
}

div.page_menu {
 margin-bottom:0.5em;
}

div.page_menu > a >  span {
 border-style:solid;
 border-width:1px;
 border-color:#d8d8d8;
 background-color:#f4f4f4;
}

div.page_menu > a:hover {
 text-decoration: none;
}

div.page_menu > a:hover >  span {
 background-color:#fff0a0;
}

.error {
 border: 1px solid #ff0000;
 background-color:#fff8f8;
}

.error div {
 padding: 1em;
}

.error .error-head {
 padding:0;
 font-weight:bold;
 text-align:center;
 background-color:#fff0f0;
}

p.error {
 padding: 1em;
}

td.message_b{
 border-width:0px;
 background-color:#f8ffff;
}
td.message_d{
 border-width:0px;
 background-color:#f0f0f0;
}

table.cells_w {
 background-color: #f0f0ff;
}

table.cells_w td {
 background-color:#ffffff;
 border:0px;
}

table.cells_w th {
 background-color: #ffffe0;
 border:0px;
}

b.datum_neu{
 color:#ff0000;
}
span.new_date {
 color:#ff0000;
}
fieldset{
 margin-bottom:10px;
}
strong{
 font-weight:bold;
 font-style:italic;
}
pre{
 background-color:#ffffff;
 color:#000000;
}
blockquote{
 background-color:#ffffff;
 color:#000080;
 font-family:'Times New Roman',Times,serif;
 font-size:11pt;
 margin-bottom:0px;
 margin-left:20px;
}
blockquote blockquote{
 color:#008000;
}
blockquote blockquote blockquote{
 color:#808000;
}
blockquote blockquote blockquote blockquote{
 color:#800000;
}
blockquote blockquote blockquote blockquote blockquote{
 color:#000000;
}
.versteckt{
 visibility:hidden;
 border-width:0px;
 border-color:#000000;
 background-color:#000000;
 font-size:0px;
 color:#000060;
 width:0px;
 height:0px;
 position:absolute;
 top:1px;
 left:1px;
 margin:0px;
}

div.news {
 margin:1em;
}

div.news span.news_head {
 font-size:0.8em;
 margin-left:1.5em;
 padding: 0.2em;
 padding-left: 0.5em;
 padding-right: 0.5em;
 border: 1px solid #b0b0ff;
 border-bottom-color:#f8ffff;
 background-color:#f8ffff;
 position:relative;
 top:-1px;
}

div.news div.news_head {
 padding: 0.2em;
 padding-left: 0.5em;
 padding-right: 0.5em;
 font-weight: bold;
 border: 1px solid #b0b0ff;
 border-bottom-style:dashed;
 background-color:#f8ffff;
}

div.news div.news_body{
 padding:0.5em;
 border: 1px solid #b0b0ff;
 border-top-width:0;
 background-color:#f8f8ff;
}

div.news div.news_menu{
 padding-right:1em;
 text-align:right;
}

div.news div.news_menu span{
 border: 1px solid #b0b0ff;
 border-top-width:0;
 background-color:#f8f8ff;
 padding-left:0.5em;
 padding-right:0.5em;
}

div.news div.news_menu span:hover{
 border-top: 1px solid #f8f8ff;
}

div.news div.news_menu span a:hover{
 text-decoration:none;
}

td.datei_download_title{
 border-width:0px;
 background-color:#e0e0e0;
}
td.datei_download_info{
 border-width:0px;
}
td.datei_download_text{
 border-width:0px;
background-color:#ffffff;
}


b.news_titel {
 color:#006000;
}

td.news {
 border:1px solid #b0b0ff;
}

td.news_eintrag {
 border:0px solid #ffe0b0;
 background-color:#f8f8ff;
}
