/* 
Document   : style.css
Created on : 16.12.2008, 16:14:45
Author     : maikel
Description:
Purpose of the stylesheet follows.
*/

body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

p, .text {
    width: 30em;
    margin: .5em auto;
    text-align: left;
}

pre, code {
    font-family: fixed, monospace;
}

div.next {
    text-align: right;
}

.highlight {
    background-color: #ddf;
}

